<h2>Rooms available</h2>

<% @rooms.each do |room| %>

	<div>



		<h3>
			<% if room.image? %>
				<%= image_tag room.image(:thumbnail) %>
			<% end %>
			
			<%= link_to room.name, room_path(room) %>
			<!-- dont need @ infront of room as we are inside the loop -->
		</h3>
	</div>

<% end %>

<p>
	<%= link_to "Add a new room", new_room_path, class: "button" %>
</p>